{% if page.url != "/" %}
  <nav class="breadcrumbs">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item"><span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
      </li>
      {% if page.categories.size > 0 %}
        {% assign cat = page.categories[0] %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="sep">/</span>
          <a href="/categories/{{ cat }}/" itemprop="item"><span itemprop="name" style="text-transform:capitalize;">{{ cat }}</span></a>
          <meta itemprop="position" content="2" />
        </li>
      {% endif %}
      <li class="current">
        <span class="sep">/</span>
        <span>{{ page.title }}</span>
      </li>
    </ol>
  </nav>
{% endif %}
